name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main  # deploy only when main branch is pushed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17
        
    - name: Make Maven Wrapper Executable
      run: chmod +x ./mvnw

    - name: Build Spring Boot Jar
      run: ./mvnw clean package -DskipTests

    - name: Deploy to Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v21
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: region: ap-south-1
        application_name: hello-eb-demo
        environment_name: Hello-eb-demo-env
        version_label: ${{ github.sha }}
        deployment_package: target/demo-0.0.1-SNAPSHOT.jar  # Correct input
